<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" value="admin">
    <input type="email" name="email" placeholder="email" value="admin@gmail.com">
    <input type="password" name="password1" placeholder="password" value="passwd@2">
    <input type="password" name="password2" placeholder="confirm your password" value="passwd@2">

    <input type="submit" value="register">
</form>
{{ message }}
</body>
</html>